body{
    color:rgb(0, 0, 255);
    background-color: grey;
    margin: 0px;
}
header{
    border-bottom: solid 2px rgb(233, 15, 40);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 0, 0)
}
section{
    background: rgb(3, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}
div{
    margin-right: 20px ; ;
}
.chamada-texto{
    margin-right: 20px;
}